# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
extension/node_modules

# testing
extension/coverage

# production
extension/build
extension/release
frontend/node_modules
frontend/.vscode

flask-backend/path

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history
.vscode
.idea
package-lock.json

# secrets
secrets.*.js

# yarn
yarn-error.log
